@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');
:root {
    /* project Colors */
    --link-c: #474d75;
    --dark-blue: #3a50f9;
    --blue-sky: #3fb7fe;
    --green: #3dd2ae;
    /*old colors*/
    --main-color: #333;
    --yellow: #e3b700;
    --orange: #f15e0e;
    --pink: #ee4dc6;
    --soft-pink: #e1b7bf;
    --dark-pink: #c262af;
    --grey: #d4c7e8;
    --red: #bf404c;
    --soft-red:#ef5a60;
    --violet: #6e00fd;
    --black: #111;
    --text-c: #555c66;
    --bg-footer: #333;
    --light-text: #808080;
    --main-bg: #b9dfdf;
    --shadow: rgb(0 0 0 / 20%);
    --input-border: #d9d9d9;
    --link-bg: #b9c1cc;
    --dark-grayish: #414c62;
    --olive: #c4b35d;
    --grey-80: #808080;
}
/* global rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
ul {
    margin: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
}
@media (min-width: 922px) {
    .container {
        margin-left: 100px !important;
        margin-right: 100px !important;
    }
}
.container {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
}
/* start header */
header {
    top: 0;
    left: 0;
    right: 0;
    z-index: 111;
    height: 74px;
}
header form input {
    border: 1px solid white;
}
header .search input::placeholder {
    color: var(--input-border);
}
header .search i {
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
}
@media (max-width: 767px) {
    header nav {
        display: none;
        position: absolute;
        top: 74px;
        left: 0;
        width: 100%;
        background-color: var(--bg-footer);
        padding: 30px;
    }
    header nav ul {
        flex-direction: column;
    }
    header nav ul li {
        flex-basis: 100%;
    }
    header nav ul li a {
        color: white !important;
    }
    header nav .close {
        display: block !important;
        top: 20px;
        right: 20px;
    }
}

header nav ul li a {
    color: var(--footer-bg);
}
header nav ul li a:hover {
    color: var(--light-text);
}
header nav .close {
    color: white;
    display: none;
}
@media (max-width: 767px) {
    header .open {
        display: block !important;
    }
}
header .open {
    display: none;
}
/* end header */

/* start landing*/
@media (min-width: 768px) {
    .landing .container > div {
        width: calc(50% - 15px);
    }
}
.landing .container .info .bar {
    width: 20px;
    height: 150px;
}
/* end landing *

/* human-robot */
@media (min-width: 768px) {
    .human-robot .container > div {
        width: calc(50% - 15px);
    }
}
.human-robot .container .image img {
    max-width: 100%;
}
/* human-robot */

/* future-work */
.future-work::before,
.future-work::after {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
}
.future-work::before {
    left: 0;
    background-color: var(--black);
}
.future-work::after {
    right: 0;
    background-color: var(--main-bg);
    z-index: -1;
}
.future-work .container p {
    max-width: 500px;
}
/* future-work */

/* robots-2019 */
.robots-2019 .container a:hover {
    background-color: white;
}
/* robots-2019 */

/* tech-trends */ 
.tech-trends .container p {
    max-width: 750px;
}
/* tech-trends */

/* quot */
.quot .container .bar {
    width: 20px;
}
/* quot */

/* artificial-intelligence */
@media (min-width: 768px) {
    .artificial-intelligence .container > div {
        width: calc(50% - 15px);
    }
}
.artificial-intelligence .container .info a:hover {
    background-color: white;
}
/* artificial-intelligence */

/* robot-ai */
 @media (min-width: 768px) {
    .robot-ai .container > div {
        width: calc(50% - 15px);
    }
}
.robot-ai .container .info a:hover {
    background-color: white;
}
/* robot-ai */

/* social-media */
.social-media .container p {
    max-width: 600px;
}
.social-media .container a:hover i {
    color: var(--main-bg);
}
/* social-media */

/* start footer */
footer .text {
    max-width: 500px;
}
footer .social-media a:hover i {
    color: var(--orange);
}
footer a:hover {
    color: var(--dark-grayish);
    text-decoration: underline;
}
/* end footer */